.monospace,
.source-code {
  font-family: 'FuraCode Nerd Font', monospace !important;
  font-size: 16px !important;
}

.CodeMirror pre {
  font-variant-ligatures: normal !important;
  font-size: 16px !important;
}

:host-context(.platform-mac) .monospace,
:host-context(.platform-mac) .source-code,
.platform-mac .monospace,
.console-message-text,
.console-timestamp,
.platform-mac .source-code.source-code {
  font-size: 16px !important;
}

.elements-disclosure li {
  line-height: 1.2 !important;
}

#console-prompt .console-prompt-icon {
  top: 8px !important;
  transform: scale(1.5);
}

 #-blink-dev-tools * {
  font-family: 'Fira Code' !important;
}
